.Downloads{
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 20px;
}
.projects{
    background: #202428 !important;
    box-shadow: 10px 10px 19px #1c1e22, -20px -10px 19px #262a2e !important;
    color: white;
    padding: 30px;
}

.project-container{
  max-width: 1280px;
  
}
.project-container .box {
  position: relative;
  width: 100%;
  height: 280px;
  background: #ff0;
  box-sizing: border-box;
  display: inline-block;
}

.project-container .box .img-box{
  position: relative;
  overflow: hidden;

}
.project-container .box .img-box img{
  width: 100%;
  height: 280px;
  transition: transform 2s;
  border: 4px solid #ae216b;
}
.project-container .box:hover .img-box img{
    transform: scale(1.2);
}
.project-container .box .details{
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background: rgba(0,0,0,.8);
  transform: scaleY(0);
  transition: transform .5s;
}
.project-container .box:hover .details{
  transform: scaleY(1);
}
.project-container .box .details .content{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  text-align: center;
  padding: 15px;
 
}
.project-container .box .details .content h1{
  width: 280px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(270deg,#ae216b,#df4454,#f67a36);
  margin-left: 15px;
}





@media only screen and (max-width: 668px) {
  .project-container .box .details .content h1{
    width: 100%;
    font-size: 15px;
    margin-left: 10px;
  }
  .project-container .box {
    width: 180px;  
  }
 
  .project-container .box:hover .img-box img{
    transform: none;
}
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .project-container .box {
    width: 600px;
    height: 380px;
  }
  .project-container .box .details .content h1{
    width: 300px;
    margin-left: 100px;
  }
  .project-container .box .img-box img{
    width: 100%;
    height: 380px;
  }
  .project-container{
    margin: auto;
  }

}